

 @import url(https://openlayers.org/en/v4.6.5/css/ol.css);
 
 .conteneur-centre{
    display: flex;
    justify-content: left;
 }

.map {

    height: 600px;
    width: 100%;
}


.conteneur-boutton{
   padding-left: 10em;
   padding-top: 5em;

}


    
#but_zoom{
    background-color: grey; /* Green */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: center;

}
