


<div class="conteneur-centre">
    <div id="map" class="map"></div>
</div>



<div id="html-coord"  ngDefaultControl [(ngModel)]="coord">
</div>
    <br>


<div>
    inscrire la latitude
</div>
<input type="text"   [(ngModel)]="latitude"> <br>
<div>
    inscrire la longitude
</div>

<input type="text"   [(ngModel)]="longitude"> <br>

<!-- <h4>{{test}}</h4> -->
<button id="but_zoom" (click)="clickZoom()">clic pour zoom sur lat-lon</button>



