

:host {
    /* display: flex;
    justify-content: right; */
    padding: 12px;

    }

    
#but_zoom{
    background-color: grey; /* Green */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: center;

}