/* :host {
    display: flex;
    padding: 12px;

    } */

.app-map{
    width: 100%;
}
.conteneur-flex{
    display: flex;
    
}

.comp-map{
    width: 100%;
    justify-content: left;
}

.app_recherche{
    justify-content: left;
    width: 100%;
}