<!--The content below is only a placeholder and can be replaced.-->

<div>
<app-titre></app-titre>
</div>
<div class='conteneur-flex'>
        <app-map class='app-map'></app-map>
        <app-recherche-coord class='app_recherche'></app-recherche-coord>  
</div>


<router-outlet></router-outlet>
